/* Enter your custom styles here */

#selectDisplay {
    right: 0;
    margin: 40px auto;
    padding: 40px;
}
.newQuestion{
	margin: 1em;
}

.sapMGT.OneByOne {
    width: 16rem;
    height: 16rem;
}
.eventImage{
	width: 23rem;
	height: 16rem;
}
.headerContent {
	text-align: left;
}

.createEventBtn {
    background-color: #C6DEFE;
    border-radius: 10px;
}

.createEventBtn:hover {
    background-color: #0fdaff;
    border: 1px solid #00ffed;
    border-radius: 10px;

}

.createEventBtn:active {
    background-color: #d1fff7;
    border: 1px solid #00ffed;
    border-radius: 10px;
}

.textArea {
    margin: 0 0 0 11rem;
}



.sapMFlexBoxAlignItemsStretch {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    align-items: inherit;
}

.sapMLabel {
    padding: 2px;
}

.myMap {
    margin-top: 20px;
}

.sapUiIcon #addInput {
    height: 10px !important;
    width: 10px !important;
}

.sapMIBar.sapMHeader-CTX {
    background-color: #C6DEFF;
}

.sapMInputBaseInner {
    text-align: center !important;
}

.LoginBack {
    background: url('http://i65.tinypic.com/2370ar.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.fontStyle {
    font-style: Italic;
    font-weight: bold;
}

.loginBtn {
    border-radius: 10%;
    background-color: #e7e7e7;
    border: solid 1.5px #005684;
    width: 10rem;
    margin: 10px auto;
}

.loginBtn:hover {
    border-radius: 10%;
    border: solid 1.5px #005684;
    background-color: #daefed;
    margin: 10px auto;
}

.AcceptBtn {
    border-radius: 20px;
    background-color: limegreen;
    width: 10rem;
    margin: 10px auto;
}

.AcceptBtn:hover {
    border-radius: 20px;
    background-color: lime;
    width: 10rem;
    margin: 10px auto;
}

.DeclineBtn {
    border-radius: 20px;
    background-color: Red;
    width: 10rem;
    margin: 10px auto;
}

.DeclineBtn:hover {
    border-radius: 20px;
    background-color: Tomato;
    width: 10rem;
    margin: 10px auto;
}