/* Enter your custom styles here */

#selectDisplay {
	right: 0;
	margin: 40px auto;
	padding: 40px;
}
.textArea {
    margin: 0 0 0 13.5rem;
}
.mapBox{
	margin: 0 20px 0 80px;
	text-align: center;
}

.sapMFlexBoxAlignItemsStretch {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    align-items: inherit;
}

.sapMLabel{
	padding: 2px;
}
.myMap {
    margin-top: 20px;
}

.sapUiIcon #addInput {
    height: 10px !important;
    width: 10px !important;
}

.sapMIBar.sapMHeader-CTX {
    background-color: #C6DEFF;
}

.sapMInputBaseInner {
    text-align: center !important;
}

.LoginBack {
    background: url('http://i65.tinypic.com/2370ar.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.fontStyle {
    font-style: Italic;
    font-weight: bold;
}

.loginBtn {
    border-radius: 35%;
    background-color: #e7e7e7;
    border: solid 2px #8c8c8c;
    width: 10rem;
    margin: 10px auto;
}

.loginBtn:hover {
    border-radius: 35%;
    border: solid 2px #949696;
    background-color: RoyalBlue;
    margin: 10px auto;
}

.AcceptBtn {
    border-radius: 20px;
    background-color: limegreen;
    width: 10rem;
    margin: 10px auto;
}

.AcceptBtn:hover {
    border-radius: 20px;
    background-color: lime;
    width: 10rem;
    margin: 10px auto;
}

.DeclineBtn {
    border-radius: 20px;
    background-color: Red;
    width: 10rem;
    margin: 10px auto;
}

.DeclineBtn:hover {
    border-radius: 20px;
    background-color: Tomato;
    width: 10rem;
    margin: 10px auto;
}